<div class="display-4 mb-5">Addresses</div>

<div class="row">
    <div class="col-md px-5">
        <h4 class="mb-4">Shipping Details</h4>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Phone</label>
            <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Address</label>
            <input class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Country</label>
            <input class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">City</label>
            <input class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Postal Code</label>
            <input type="number" class="form-control" />
        </div>
        <button class="btn btn-success">Save</button>
    </div>
</div>