<ul class="list-unstyled fw-normal pb-2 small">
    <li class="rounded p-3"><a class="text-reset text-decoration-none" asp-page="/Dashboard/Index">Dashboard</a></li>
    <li class="rounded p-3"><a class="text-reset text-decoration-none" asp-page="/Dashboard/Orders/Index">Orders</a></li>
    <li class="rounded p-3"><a class="text-reset text-decoration-none" asp-page="/Dashboard/Address/Index">Addresses</a></li>
    <li class="rounded p-3"><a class="text-reset text-decoration-none" asp-page="/Dashboard/Favorites/Index">Favorites</a></li>
    <li class="rounded p-3"><a class="text-reset text-decoration-none" asp-page="/Dashboard/Account/Index">Account settings</a></li>
</ul>