@page
@model Web.Pages.Dashboard.IndexModel

<div class="container py-5 mb-5">
    <div class="row">
        <div class="col-2">
            
            <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">Account</strong>
            <ul class="list-unstyled fw-normal pb-2 small">
                <li class="rounded p-3"><a class="text-reset text-decoration-none" asp-page="Index">Dashboard</a></li>
                <li class="rounded p-3"><a class="text-reset text-decoration-none" asp-page="Orders">Orders</a></li>
                <li class="rounded p-3"><a class="text-reset text-decoration-none" asp-page="Address/Index">Addresses</a></li>
                <li class="rounded p-3"><a class="text-reset text-decoration-none" asp-page="Favorites">Favorites</a></li>
                <li class="rounded p-3"><a class="text-reset text-decoration-none" asp-page="User">Your data</a></li>
                <li class="rounded p-3"><a class="text-reset text-decoration-none" asp-page="Configuration">Configuration</a></li>
            </ul>
        </div>

        <div class="col my-5 my-lg-0 ms-lg-3">

            <div class="row bg-white shadow-sm rounded-3 p-5">
                <div class="display-4 text-center fw-normal mb-4">Dashboard</div>
                <div class="d-flex justify-content-center col-xl-3 col-lg-6">
                    <div class="card border-success mb-3 text-center">
                        <div class="card-body text-success">
                            <h5 class="card-title">Orders</h5>
                            <p class="card-text">Some quick example text to build.</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center col-xl-3 col-lg-6">
                    <div class="card border-success mb-3 text-center">
                        <div class="card-body text-success">
                            <h5 class="card-title">Shipping</h5>
                            <p class="card-text">Some quick example text to build.</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center col-xl-3 col-lg-6">
                    <div class="card border-success mb-3 text-center">
                        <div class="card-body text-success">
                            <h5 class="card-title">Cupons</h5>
                            <p class="card-text">Some quick example text to build.</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center col-xl-3 col-lg-6">
                    <div class="card border-success mb-3 text-center">
                        <div class="card-body text-success">
                            <h5 class="card-title">Refunds</h5>
                            <p class="card-text">Some quick example text to build.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container  p-4 my-5">
    <div class="row text-end mt-3 rounded-3 py-5 my-5" style="background:url(../images/dashboard-help.jpg)">
        <div class="display-5">Help the enviroment</div>
        <p>With your order you contribute with to the world</p>
        <div class="d-flex justify-content-end">
            <a class="btn btn-lg btn-outline-secondary">Read more</a>
        </div>
    </div>
</div>
