@page
@model Web.Areas.Identity.Pages.Account.Manage.UserModel
@{
}
<div class="container">

    <div class="row justify-content-center py-5 mb-5">
        <div class="col-md-4">
            <form id="account" method="post">
                <h1>Account</h1>
                <h2>Update your user data</h2>
                <hr />
                <div class="form-floating mb-2">
                    <input asp-for="FirstName" class="form-control"/>
                    <label asp-for="FirstName" class="form-label"></label>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <input asp-for="LastName" class="form-control" />
                    <label asp-for="LastName" class="form-label"></label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <input asp-for="Phone" class="form-control"/>
                    <label asp-for="Phone" class="form-label"></label>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Birthdate" id="startDate" class="form-control" type="date" />
                    <label asp-for="Birthdate">Birthdate</label>
                    <span hidden id="startDateSelected"></span>
                </div>
                
                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-success">Update information</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {

    <partial name="_ValidationScriptsPartial" />

    <script>
        let startDate = document.getElementById('startDate')
        let endDate = document.getElementById('endDate')

        startDate.addEventListener('change',(e)=>{
          let startDateVal = e.target.value
          document.getElementById('startDateSelected').innerText = startDateVal
        })
    </script>
}
