@page "{category:alpha}/{currentpage?}" 
@model Web.Pages.Products.IndexModel

<style>
    .desc {
        display: block;
        height: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.8rem;
    }
</style>

<div class="container-lg text-center">
    <div class="row">

        <div class="col-3 border border-2 rounded-3 my-4">
            <form method="get">
                <h4>Price Filter</h4>
                <div class="row">
                    <div class="col">
                        <input type="number" class="form-control" min="1" max="100" placeholder="1"/>
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" min="1" max="100" placeholder="100"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Filter</button>      
                
            </form>
        </div>

        <nav class="col-9">

            @if(Model.IsProductAdded)
            {
                <div class="toast align-items-center position-fixed" style="z-index: 100" id="MyToast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body">
                            <strong>Product added to the cart</strong>
                        </div>
                        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            }


            <div class="row row-cols-lg-3">
                <partial name="_ProductListPartial" model="Model.ProductList"></partial>
            </div>


            <nav>
                <ul class="pagination">
                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                            <a asp-page="Index"  asp-route-currentpage="@i" class="page-link">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        </nav>
    </div>
</div>


@section scripts{ 
    <script src="~/lib/jquery-validation-unobtrusive/jquery.unobtrusive-ajax.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {

            var toastHTMLElement = document.getElementById("MyToast")
            var toastElement = new bootstrap.Toast(toastHTMLElement);

            toastElement.show();

        }, false);  
    </script>

     <script>
        $(document).on('click', '#addToCart', function() {

            var productId = $(this).attr('prodid');

            $.ajax({
                type: 'GET',
                url: '@Url.Page("Index","AddToCart")',
                data: {
                    prodId: productId
                },
                success: function() {
                    $('#cartMenu').load('?handler=PartialCart'); 
                },
                failure: function() {
                    alert("failure");
                },
                error: function() {
                    alert("error");
                }
            });
        });
    </script>

}