@page
@using ApplicationCore.ValueObjects
@using Microsoft.AspNetCore.Http
@using Web.Pages.Shared
@using Web.Utility

@model Web.Pages.Cart.IndexModel



<div class="container-lg">
    
    <div class="d-flex flex-row py-5 justify-content-center">
        <div class="display-4">Shopping Cart</div>
    </div>
    <div id="cartList" class="my-5 bg-white shadow-sm p-5">
        <partial name="_CartListPartial" model="@Model.CartItems" />
    </div>
    <div class="row mb-5">
        <div class="col text-center">
            <a asp-page="/Products/Index" asp-route-category="all" class="btn btn-outline-success">Return to shop</a>
        </div>
    </div>
</div>
        


@section Scripts {

    @*Delete product*@
    <script>

        $(document).on('click', '.deleteButton', function() {

            var productId = $(this).attr('id');

            $.get('@Url.Page("Index","Delete")', { 'id': productId }, function(response) {
                $('#cartList').html(response);

                $.get('@Url.Page("Index","PartialCart")', { 'id': productId }, function(response) {
                    $('.cartMenu').html(response);
                });
            });
        });

    </script>

    @*Update quantity*@
    <script>

       $(document).on('click', '.updateQuantity', function() {

           var productId = $(this).attr('id');
           var updateQ = 0;

           if ($(this).hasClass('addQuantity')) {
               updateQ = -1;
           }
           else if ($(this).hasClass('removeQuantity')) {
               updateQ = 1;
           }

           $.get('@Url.Page("Index","UpdateQuantity")', { 'id': productId, 'updateQuantity': updateQ }, function(response) {
               $('#cartList').html(response);
           });
       });

    </script>
}