@page
@using ApplicationCore.ValueObjects
@using Microsoft.AspNetCore.Http
@using Web.Pages.Shared
@using Web.Utility
@model Web.Pages.Cart.IndexModel

@{
    decimal total = 0;
}


<div class="container-lg">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light p-2 rounded-0">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active">Shopping Cart</li>
                </ol>
            </nav>
        </div>    
    </div>
    <div class="row mb-5">
        <div class="col-8">
            <h2>Shopping Cart</h2>
        </div>
        <div class="col-4">
            <a asp-page="/Products/Index" asp-route-category="all"><p>Continue Shopping</p></a>
        </div>
    </div>
    <div id="cartList">

        <partial name="_CartListPartial" model="@Model.Items" />
        
    </div>
</div>
        


@section Scripts {

    <script>

        $(document).on('click', '.deleteButton', function() {

            var productId = $(this).attr('id');

            $.ajax({
                type: 'GET',
                url: '@Url.Page("Index","Delete")',
                data: {
                    id: productId
                },
                success: function(response) {
                    $('#cartList').load('Index?handler=PartialListCart');
                    $('#cartMenu').load('Index?handler=PartialCart');                   
                },
                error: function() {
                    alert('Error');
                }
            });

        });

    </script>
}