@page "{id?}"
@model Web.Pages.Admin.ProductsManagement.UpsertModel
@{
    Layout = "_LayoutAdmin";
}


<form method="post" enctype="multipart/form-data">
    @if(@Model.Product.Id == 0)
    {
        <h3>Add Product</h3>
    }
    else
    {
        <h3>Edit Product</h3>
        <input hidden asp-for="Product.Id">
    }

    <div class="form-control">
        <div class="mb-3">
            <label class="form-label" asp-for="Product.Name"></label>
            <input class="form-control" asp-for="Product.Name"/>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Product.Description"></label>
            <textarea class="form-control" rows="3" asp-for="Product.Description"></textarea>
        </div>
        <div class="mb-3">
            <input hidden asp-for="Product.Category" />
            <label class="form-label" asp-for="Product.CategoryId"></label>
            <select class="form-control" rows="3" asp-for="Product.CategoryId" asp-items="@Model.CategoryDropDown">
                <option selected disabled>-- Select Category --</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Product.Ingredients"></label>
            <textarea class="form-control" rows="2" asp-for="Product.Ingredients"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Product.Price"></label>
            <input class="form-control" asp-for="Product.Price"/>
        </div>
        <div class="mb-3">
          <label class="form-label" asp-for="Product.Image"></label>
          <input class="form-control" asp-for="Product.Image" type="file" >
        </div>
        <div class="mb-3">
          <label class="form-label" asp-for="Product.Tags"></label>
          <input class="form-control" asp-for="Product.Tags">
        </div>
        <div class="mb-3">
            <label class="form-check-label" asp-for="Product.InStock"></label>
            <input type="checkbox" class="form-check-input" asp-for="Product.InStock"/>
        </div>
        <div class="mb-3">
            <label class="form-check-label" asp-for="Product.IsOnSale"></label>
            <input type="checkbox" class="form-check-input" asp-for="Product.IsOnSale"/>            
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Product.SalePrice"></label>
            <input class="form-control" asp-for="Product.SalePrice"/>            
        </div>
        <a class="btn btn-secondary" asp-page="Index">Back</a>
       
        @if(@Model.Product.Id == 0)
        {
             <button type="submit" class="btn btn-primary">Submit</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary">Update</button>
        } 
    </div>
</form>