@model int

<a asp-page="/Cart/Index" class="nav-link">                              
    <i class="bi bi-cart"></i>
    <span class="position-absolute translate-middle badge rounded-pill bg-danger">
        @Model
    </span>
</a>         
